.container {
  display: grid;
  grid-template-columns: 100px 100px 100px;
  border-top: solid 3px #000;
  border-right: solid 3px #000;
  width: fit-content;
  background-color: #fff;
  box-shadow: 2px 2px 6px 2px silver;
}

.container div {
  border-bottom: solid 3px #000;
  border-left: solid 3px #000;
  height: 100px;
  font-size: 35px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.gameResult {
  font-family: "arial";
  color: #cc0066;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

.resultLabel {
  font-family: "arial";
  color: green;
  margin-top: 10px;
  font-size: 16px;
  font-weight: bold;
}

.turn {
  font-family: "arial";
  color: #cc0066;
  margin-top: 10px;
  font-size: 16px;
  /* font-weight: bold; */
}

.blink {
  animation: blinker 1s infinite;
}

@keyframes blinker {
  60% {
    opacity: 0;
  }
}

.title {
  margin-top: 60px;
  color: #000;
  font-size: 20px;
  text-align: center;
}

.tttButton {
  background-color: #0d6efd;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 6px;
  white-space: nowrap;
  padding: 10px 10px;
  width: 150px;
}

.btnCenter {
  display: flex;
  align-items: center;
  justify-content: center;
}

main {
  max-width: fit-content;
}

.oColor {
  background-color: palegoldenrod;
}

.xColor {
  background-color: lightgreen;
}
