.container {
  min-height: 90vh;
  margin-top:55px;
}

.header {
  font-family: arial;
  font-weight: bold;
  margin-top: 30px;
  color: royalblue;
}

.externalLink {
  font-weight: bold;
  color: rgb(70, 129, 244);;
}
