.container {
  min-height: 90vh;
  margin-top:55px;
}

.header {
  font-family: arial;
  font-weight: bold;
  margin-top: 30px;
  color: royalblue;
}

.externalLink {
  font-weight: bold;
  color: rgb(70, 129, 244);;
}

.grid {
  display: grid;
  -ms-grid-columns: minmax(160px,1fr) [auto-fill];
  grid-template-columns: repeat(auto-fill,minmax(300px,1fr));
  grid-gap: 0;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin: 10px 2px;
  padding-bottom: 50px;
  box-sizing: border-box;
  margin:0 15px;
}


.card {
  /* border:solid 1px silver; */
  border-radius:6px;
  box-shadow:2px 3px 6px 1px silver;
  cursor: pointer;
  height:278px;
  background-color: #fff;
  color:#666;
  font-weight:bold
}

.card:hover {
  box-shadow: 2px 4px 12px #666;
  transform: scale(1.01); 
  transition: transform .2s;
}

.title {
  background-color: royalblue;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  padding:5px 10px;
  color:#fff;
  display:flex;
  justify-content: center;
  font-weight: bold;

}

.content {
  margin:10px
}

.pageHeader {
  margin:54px 0 12px 0;
  display:flex;
  justify-content: center;
  font-weight: bold;
  font-size:25px;
  font-family:arial;
  color:darkviolet;
  text-shadow: 2px 2px 2px silver;
}

.light {
  background-color:#fff;
  color:#000;
  height:96vh
}

.dark {
  background-color:#000;
  color:#fff;
  height:96vh
}

.card p span {
  color:#000;
}



.hlTitle {
  display: flex;
  justify-content: center;
  color: green;
  font-weight: bold;
  font-size: 21px;
  padding: 0 0 15px 0;

}

.hiLites{
  margin:10px 50px;
  /* border:solid 2px silver */
}

.hlGrid {
  display:grid;
  grid-template-columns: repeat(auto-fill, minmax(178px, 1fr));
  grid-row-gap:2px;
  grid-column-gap: 24px;
  font-weight: bold;
  color:blue;
  font-size:16px;
}

.hlGrid li {
  max-width: max-content;
  line-height: 25px;
  list-style-type: disc;
}