.container {
    max-width: 1024px;
    margin:0 auto 40px auto;
    z-index: -1;
}


@media (max-width: 1226px) {
    .container {
        max-width: 1024px;
        margin:0 10px;
        z-index: -1;
    }
}