.App {
    font-family: sans-serif;
    text-align: center;
  }
  
  .grid {
    margin: 0 auto;
    display: grid;
    background-color: ivory;
    color: royalblue;
    grid-template-columns: 100px 200px 400px;
    border-top: solid 1px silver;
    border-right: solid 1px silver;
    width: fit-content;
    box-shadow: 2px 3px 6px 2px silver;
  }
  
  .grid div {
    border-bottom: solid 1px silver;
    border-left: solid 1px silver;
    text-align: left;
    padding: 3px;
  }
  
  .grid div:nth-child(3n-2) {
    /*firstColumn yellow*/
    background-color: greenyellow;
  }
  
  .grid div:nth-child(3n-1) {
    background-color: lightblue;
  }
  .grid div:nth-child(3n) {
    background-color: orange;
  }
  
  .grid div:nth-child(-n + 3) {
    font-weight: bold;
    color: green;
    background-color: lightgreen;
  }
  