.App {
    font-family: sans-serif;
    width: 100%;
    margin: 0 auto;
  }
  
  .container {
    margin: 10px auto;
  }
  
  .grid {
    width: fit-content;
    margin-top: 10px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    border-top: solid 1px silver;
    border-right: solid 1px silver;
  }
  
  .grid div {
    padding: 6px 5px;
    border-bottom: solid 1px silver;
    border-left: solid 1px silver;
  }
  
  .bold {
    font-weight: bold;
  }
  