.info {
  margin-top: 10px;
}

.grid {
  display: grid;
  grid-template-columns: 200px 200px 300px 80px;
  border-top: solid 1px silver;
  border-right: solid 1px silver;
  width: fit-content;
  box-sizing: border-box;
  /* height:300px; */
  /* overflow:auto; */
}

.grid div {
  color:#000;
  font-weight: bold;
  padding: 5px 5px;
  border-left: solid 1px silver;
  border-bottom: solid 1px silver;
}

.grid div:nth-child(-n + 4) {
  background-color: steelblue;
  font-weight: bold;
  color: #fff;
}

.grid input {
  color:#000;
  font-weight: bold;
  border: none;
  font-size: 16px;
  width: 60px;
  width: fit-content;
  padding:0 0 0 4px;
}

.grid input:focus {
  outline: none;
}

div {
  font-size: 16px;
}

.grid div span {
  display: block;
}

.readOnlyTxt {
  height: 77%;
  width: -webkit-fill-available;
}

.readOnlyTxt:focus {
  outline: dotted 1px silver;
}

.onEmpty::before {
  content: "Please type to Enter";
}

.jsonView {
  width: 700px;
  border: solid 1px silver;
  font-size: 12px;
  height: 350px;
  overflow: scroll;
}

.jsonHdr {
  margin-top: 20px;
}

.infoTxt {
  color:#000;
  font-weight: bold;
  max-width: 700px;
}
