header {
  display:flex;
  background-color: darkgreen;
  color: #fff;
  padding: 5px;
  margin-bottom: 10px;
  text-align: left;
  position:fixed;
  top:0;
  width:-webkit-fill-available;
  z-index: 99999;
  height: 35px;
  align-items: center;
}

.myNav {
  margin: 0 auto;
  justify-content:center;
}

.myNav a {
    padding:7px;
}

nav a:link,
nav a:visited  {
  color: #fff;
  margin: 0 5px;
  padding-bottom: 2px;
  text-decoration: none;
}

a span.bold:visited {
  font-weight: bold;
}

.yellow {
  color:greenyellow;
  font-weight:bold
}

.hamburgerMenu {
  z-index: 1;
  font-size: 19px;
  font-weight: bold;
  display:block;
  position: absolute;
  top:46px;
  left:2px;
  background-color: royalblue;
  color:#fff
}

.hamburgerMenu ul li {
  line-height:30px;
  padding:10px 48px;
  border-bottom: solid 1px mediumaquamarine;
}

.hamburgerMenu a:link,
.hamburgerMenu a:visited{
  color:#fff;
  text-decoration: none;

}

@media (max-width:1600px){
  nav {
    display:none;
  };

  .hamburger {
    font-size: 32px;
  }
 
}

.hamburger {
  font-size: 32px;
  font-weight: bold;
  color:#fff
}

@media (min-width:1601px){
  .hamburger {
    display:none;
  }

  .hamburgerMenu {
    display:none;
  }

}

.mainNav {
  margin:0 auto;
}

.pointer {
  cursor: pointer;
}