.grid {
  display: grid;
  grid-template-columns: 100px 672px 100px 150px;
  border-left: solid 1px silver;
  border-bottom: solid 1px silver;
  margin: 55px 0;
  max-width: fit-content;
}

.grid div {
  
  padding: 10px;
  border-top: solid 1px silver;
  border-right: solid 1px silver;
}

.grid div:nth-child(-n + 4) {
  background-color: #ffcc00;
  font-weight: bold;
  color: #000;
}


.right {
  text-align: right;
}

.pointer {
  cursor: pointer;
}

.bold {
  font-weight:bold;

}

.totalValue {
  text-decoration: underline;
  text-decoration-style: double;
  font-weight:bold
}

.navHomeButton {
  display: flexbox;
  background-color: rgb(70, 129, 244);
  color:#fff;
  padding:10px;
  max-width: 200px;
  justify-content: right;
  align-items: right;
  text-align:center;
  cursor: pointer;
}

.checkout {
  background-color: green;
  margin-right:10px
}