footer {
    font-size:12px;
    background-color:gray;
    color:#fff;
    padding:5px;
    text-align: left;
    margin-top:10px;
    position:fixed;
    bottom:0;
    width:-webkit-fill-available
}