
.container {
    border:solid 1px silver;
    border-radius:6px;
    font-size:16px;
    padding:15px;
    background-color: #fff;
    color:#000;
    max-width:500px;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center
}

.container button {
    margin:10px 0;
}

.container span {
  font-weight: bold;
}


.button {
    padding:6px 12px;
    border-radius:4px;
    width:fit-content;
    cursor:pointer;
    line-height: 1.5;
    border:solid 1px transparent;
    font-size: 16px;
    color:#fff;
    background-color: #0d6efd;
}

.button:hover {
    background-color: blue;

}