.card {
    margin-top:70px;
    max-width: 800px;
    box-shadow:2px 6px 8px 1px silver;
    border-radius: 8px;
    background-color: #fff;
    padding:10px;
}

.title {
    display:flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

form label{
    font-weight: bold;
    color:#666;
    margin-top:120px;
}

form div {
padding:2px;
}

form input, form textarea {
    font-size: 20px;
    border:solid 1px silver;
    border-radius:8px
}

.movie input {
  margin-right:20px;
}

.buttonContainer {
    display:flex;
    justify-content: center
}


.buttonContainer button {
    width:100px;
    cursor:pointer;
    border:none;
    color:#fff;
    padding:5px;
    border-radius: 6px;;
    max-width:100px;
    background-color: rgb(70, 129, 244);
}
.food input {
    margin-right:20px
}

input::placeholder, textarea::placeholder{
    font-size:14px;
    color:#666
}

ul {
    margin:0;
  padding:0;
  list-style-type: none;
}

form ul li {
    margin-top:15px;
}

.errorTxt {
   font-size:12px;
   color:#cc0000;
   font-weight: bold;
}

.required:after {
    content:" *";
    color:#cc0000;
    font-size:12px;
  }